* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
} 


.profile-pic {
    border-radius: 50%;
    max-width: 30%;
    max-height: 30%;
    margin-right: 50%;

}
    

body {
    background-repeat: round ;
    background-color:#e6ecff ;
    color: teal;
    
   }

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #e6ecff;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  .title {

    text-align: left;
    margin-left: -1000px;

    
 
  }
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: teal;
    text-shadow: 0 0 10px rgba(70, 10, 236, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: teal;
  }
  
  header nav {
    margin: 12px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(230, 14, 212, 0.5);
  }
li:hover{
    background-color: lightcoral;
}

.hero {
    padding: 75px;
    background-image: url("./images/pexels-photo-255379.jpeg");
    background-repeat: round;
    border: 5px solid blueviolet
}

.about-me
 {

    padding-top: 65px;
}
.bio {
 text-align: justify;
 margin-left: 20%;
 margin-bottom: 5%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
 
  .project1 img {
    border: 5px solid blueviolet;
    border-radius: 4px;
    padding: 5px;
    height: 200px;
    width: 450px;
    
 }

 .project2 img {
    border: 5px solid blueviolet;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

 }

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 25px;

  } 
  .section-title {
      padding-top: 150px;
  }



  @media screen and (max-width: 980px) {
    
    .title  {
        width: 100%;
        text-align: center;
        padding-left: 75%;
        justify-content: center;
        position: relative;
        width: 100%;
        text-align: center;
    }
        
        
        
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1  {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    
    .section-title {
      width: 80%;
    }
    
    .projects {
      flex: 0 70%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    h2 {
      flex: 1 100%;
      text-align: center;
    }
  
    .bio {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .project-img .hero-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    p {
      flex: 100%;  
    }
  
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
 
  
    .section-title {
      width: 95%;
    }
  
    .bio p {
      width: 100%;
    }
  
    .body {
      flex: 0 100%;
    }
  
    .about-me > * {
        flex: 0 100%;
      }

  }
  


